# Dependencies
node_modules

# Local env files
.env.local
.env.*.local

# Testing
coverage/

# Turbo
.turbo/

# Build Outputs
dist/
out/
*.tsbuildinfo

# Logs
npm-debug.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
