# Dependencies
node_modules/

# Local env files
.env.local
.env.*.local

# Testing
coverage/

# Tools
.turbo/
.tsup/

# Build Outputs
dist/
dist-ssr/
out/
*.tsbuildinfo

# Logs
npm-debug.log*
.pnpm-debug.log*

# Misc
.DS_Store
*.pem
